.pc_header.white .nav li:nth-child(3) > a{color: black}
.pc_header.white .nav li:nth-child(5) > a{color: #ff5a00}
.h-btn-div .btn-back-div{color: black;font-size: 26px;font-weight: bold}
.bg_1 .ul-div{width: 785px}
.class-con{margin-bottom: 100px}

.m-btn-div .m-btn {width: 145px;background-color: white;color: black;font-size: 30px}
.m-btn-div .m-btn .btn-img-div{display: none}
.m-btn-div .m-btn.active .btn-img-div{display: block;margin-left: 5px}
.m-btn-div .m-btn.active{color: #ff5a00}

.bg-4-c-m{text-align: left;}
.class-con .bg-4m-t1{font-size: 20px;color: #626262;font-weight: bold;margin-bottom: 5px;margin-top: 10px}
.class-con .bg-4m-t2,.class-con .bg-4m-t3{margin-bottom: 10px;font-size: 14px;color: #676767;margin-top: 5px;line-height: 25px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.class-con .bg-4m-t3{text-align: right;margin-right: 30px;margin-top: 0px}
.bg_1 ul li>a{width: 175px}

@media (max-width: 750px) {
    .m-btn-div{width: 85%}
    .m-btn-div .m-btn{font-size: 32px;width: 155px;}
}
